@model User

<h1 class="bg-info text-white pl-1 mb-3 rounded-left">Create User</h1>
<a asp-action="Index" class="btn btn-secondary">
    <i class="fa fa-arrow-left mr-2"></i>
    Back
</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">
        <i class="fa fa-check-circle mr-2"></i>
        Create
    </button>
</form>