<h2 class="bg-danger mb-2 p-1 text-white rounded-left">Access Denied</h2>
<div class="mb-3">
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mr-2">Home</a>
    <a asp-action="Login" asp-controller="Account" class="btn btn-outline-primary mr-2">Login</a>
    <a asp-action="Logout" asp-controller="Account" class="btn btn-outline-danger mr-2">Logout</a>
</div>