@model TestFeatureFlags.Identity.Models.Login

<h1 class="bg-info text-white p-1 rounded-left">Login</h1>
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="mb-2">
        <button class="btn btn-primary mr-2" type="submit">
            Log In
        </button>
        <a asp-action="GoogleLogin" class="btn btn-danger">
            <i class="fa fa-google mr-2"></i>
            Log In With Google
        </a>
    </div>
</form>