@model TestFeatureFlags.ViewModels.CustomerVM

<!DOCTYPE html>

<style>
    body {
        background-color: @ViewData["BackgroundColor"]
    }
    h1, h2 {
        color: @ViewData["FontColor"];
        font-size: @ViewData["FontSize"]px;
    }
</style>
<head>
    @{
        ViewData["Title"] = "Home Page";
    }
</head>
<html lang="en">
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <h2>@ViewData["Message"]</h2>
    </div>

    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <div class="container-xl">
        <br />
        <div class="my-0 mx-auto table-responsive fixed-table-body">
            <table id="customerTable"
                   class="table table-striped table-bordered dt-responsive nowrap"
                   width="100%"
                   cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Date Of Birth</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerTable.js"></script>
}